.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 36px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 12px;
}

.header {
  font-size: 13px;
  text-transform: uppercase;
  color: #657482;
  margin-bottom: 6px;
}

.name {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 600;
}

.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  font-size: 12px;
  padding: 4px 10px;
  background-color: #017a9b;
  color: #fff;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 6px;
}